
.idea/.idea.SplitGzipFile/.idea/

MonitoringPath/bin/Debug/net5.0/

MonitoringPath/obj/Debug/net5.0/

SplitGzipFile/bin/Debug/net5.0/

SplitGzipFile/obj/Debug/net5.0/

SplitGzipFile/obj/

MonitoringPath/obj/
